{% extends 'base.html' %}

{% block title %}Manage Rounds{% endblock %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow-md">
  <h1 class="text-2xl font-bold mb-6">จัดการรอบการเลือกตั้ง</h1>
  <button class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded" onclick="openAddRoundModal()">เพิ่มรอบการเลือกตั้ง</button>

  <!-- Add Round Modal -->
<div id="addRoundModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden modal">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg modal-content">
    <h2 class="text-xl font-bold mb-4">เพิ่มผู้สมัครคนใหม่</h2>
    <form method="POST" class="space-y-4" onsubmit="handleSubmit(this)">
      {% csrf_token %}
      
      <!-- Change input type from text to textarea for Round Name -->
      <label for="name" class="block text-gray-700">ชื่อรอบ:</label>
      <textarea id="name" name="name" rows="3" class="bg-blue-100 border border-gray-300 rounded-md py-2 px-3 w-full"></textarea>

      <label for="start_date" class="block text-gray-700">วันและเวลาที่เริ่มเปิดหีบ:</label>
      <input type="datetime-local" id="start_date" name="start_date" class="bg-blue-100 border border-gray-300 rounded-md py-2 px-3 w-full" />

      <label for="end_date" class="block text-gray-700">วันและเวลาที่ปิดหีบ:</label>
      <input type="datetime-local" id="end_date" name="end_date" class="bg-blue-100 border border-gray-300 rounded-md py-2 px-3 w-full" />

      <div class="flex justify-between">
        <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded" onclick="closeAddRoundModal()">ยกเลิก</button>
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded">เพิ่มรอบการเลือกตั้ง</button>
      </div>
    </form>
  </div>
</div>

  <!-- Edit Round Modal -->
<div id="editRoundModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden modal">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg modal-content">
    <h2 class="text-xl font-bold mb-4">แก้ไขรอบการเลือกตั้ง</h2>
    <form method="POST" action="" id="editRoundForm" onsubmit="handleSubmit(this)">
      {% csrf_token %}
      <input type="hidden" id="edit_round_id" name="round_id" />

      <!-- Changed input to textarea for Round Name -->
      <div class="mb-4">
        <label for="edit_name" class="block text-gray-700">ชื่อรอบ:</label>
        <textarea id="edit_name" name="name" rows="3" class="bg-gray-100 border border-gray-300 rounded-md py-2 px-3 w-full"></textarea>
      </div>

      <div class="mb-4">
        <label for="edit_start_date" class="block text-gray-700">วันและเวลาที่เริ่มเปิดหีบ:</label>
        <input type="datetime-local" id="edit_start_date" name="start_date" class="bg-gray-100 border border-gray-300 rounded-md py-2 px-3 w-full" />
      </div>

      <div class="mb-4">
        <label for="edit_end_date" class="block text-gray-700">วันและเวลาที่ปิดหีบ:</label>
        <input type="datetime-local" id="edit_end_date" name="end_date" class="bg-gray-100 border border-gray-300 rounded-md py-2 px-3 w-full" />
      </div>

      <div class="flex justify-between">
        <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded" onclick="closeEditRoundModal()">ยกเลิก</button>
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded">บันทึก</button>
      </div>
    </form>
  </div>
</div>

  <!-- Existing Rounds Table -->
 
  <div class="overflow-x-auto">
  

    <!-- DataTable -->
    <table id="roundsTable" class="dataTable min-w-full bg-white border border-gray-300 rounded-lg">
      <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left">ชื่อรอบ</th>
          <th class="py-3 px-6 text-left">วันและเวลาที่เริ่มเปิดหีบ</th>
          <th class="py-3 px-6 text-left">วันและเวลาที่ปิดหีบ</th>
          <th class="py-3 px-6 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for round in rounds %}
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left">{{ round.name }}</td>
          <td class="py-3 px-6 text-left">{{ round.start_date }}</td>
          <td class="py-3 px-6 text-left">{{ round.end_date }}</td>
          <td class="py-3 px-6 text-center">
            <a href="#" class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded" onclick="openEditRoundModal('{{ round.id }}')">แก้ไข</a>
            <button onclick="confirmDeleteRound('{{ round.id }}')" class="bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded ml-2">ลบ</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
  function confirmDeleteRound(roundID) {
    Swal.fire({
      title: 'ลบข้อมูล',
      text: "จะลบหรือไม่?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'ใช่',
      cancelButtonText: 'Cancel'
    }).then((result) => {
      if (result.isConfirmed) {
        // Redirect to the delete URL if confirmed
        window.location.href = '/delete_round/' + roundID + '/';
      }
    });
    }

  function openAddRoundModal() {
    document.getElementById("addRoundModal").classList.remove("hidden");
    document.body.classList.add("modal-open"); // Prevent scrolling when modal is open
  }

  function closeAddRoundModal() {
    document.getElementById("addRoundModal").classList.add("hidden");
    document.body.classList.remove("modal-open"); // Enable scrolling again
  }

  function openEditRoundModal(roundId) {
    fetch(`/get_round_data/${roundId}/`)
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("edit_round_id").value = roundId;
        document.getElementById("edit_name").value = data.name;
        document.getElementById("edit_start_date").value = data.start_date;  // No need to replace now
        document.getElementById("edit_end_date").value = data.end_date;      // No need to replace now

        // Set the form action URL for updating the round
        document.getElementById("editRoundForm").action = `/edit_round/${roundId}/`;

        document.getElementById("editRoundModal").classList.remove("hidden");
      })
      .catch((error) => {
        console.error("Failed to fetch round details: ", error);
        alert("Failed to fetch round details.");
      });
}


  function closeEditRoundModal() {
    document.getElementById("editRoundModal").classList.add("hidden");
    document.body.classList.remove("modal-open");
  }

  // Initialize DataTables
  $(document).ready(function () {
    $(".dataTable").DataTable();
  });
  function handleSubmit(form) {
    // Disable the submit button and change its text
    const submitButton = form.querySelector('button[type="submit"]');
    submitButton.disabled = true;
    submitButton.textContent = 'กำลังโหลด...';
    
    // Optional: Add a class to indicate loading (if needed for styling)
    submitButton.classList.add('cursor-not-allowed', 'opacity-50');
  }
</script>
{% endblock %}
